@using Web_Programming_Project.Models
@model List<User>

@{
    ViewData["Title"] = "Admin Panel";
}

@using Web_Programming_Project.Resources.Languages
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Lang> language

<!DOCTYPE html>
<html>
<head>
    <title>@language["Admin Panel"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
   
    <div class="container mt-5">
        <h1>@language["Users"]</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">@language["UserName"]</th>
                    <th scope="col">@language["Password"]</th>
                    
                    <th scope="col">@language["Actions"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var i in Model)
                {
                <tr>
                    <td>@i.UserId</td>
                    <td>@i.UserName</td>
                    <td>@i.Password</td>                                       
                    <td><a href="/User/UserDelete/@i.UserId" class="btn btn-danger">@language["Delete"]</a></td>
                           
                </tr>
                }
                
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

